<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home Page</title>
</head>
<body>

    <h1 th:text="'Recipe App'">Recipe App</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="resipes" type="springframework.recipeproject.domain.Recipe"*/-->
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.id}"/>
            <td th:text="${recipe.description}"/>
        </tr>
        </tbody>
    </table>

</body>
</html>